---
layout: default
---

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <h1><a href="index.html"><strong>{{ site.header.title }}</strong> {{ site.header.subtitle }}</a></h1>
    </header>

    <!-- Main -->
    <div id="main" data-exif='{{ site.exif }}'>
        {% for category in site.image_dirs %}

        <h1 class = "category" style="width: 100%; margin: 0; text-align: center;">{{category}}</h1>
            
            {% for image in site.static_files %}
            {% if image.path contains category %}
            {% if image.path contains 'fulls' %}
            {% assign caption = site.data.captions[image.name] %}
            {% capture escaped_name %}
            {{image.name | replace: " ", "%20" }}
            {% endcapture %}
            <article class="thumb">
                <a href="{{ site.baseurl }}{{site.image_loc}}/{{category}}{{ site.image_fulls_loc }}/{{escaped_name}}" class="image">
                    <img src="{{ site.baseurl }}{{site.image_loc}}/{{category}}{{ site.image_thumbs_loc }}/{{escaped_name}}" alt=""
                         data-name="{{ image.name }}"/></a>
                <h2>{{image.name}}</h2>
                <p>{{caption.caption}}</p>

            </article>
            {% endif %}
            {% endif %}
            {% endfor %}
            {% endfor %}


    </div>
